<div class="container">
  <h1>{{ moodboardsShow.moodboard.project_name }}</h1>
  <p>{{ moodboardsShow.moodboard.brief }}</p>
  <button class="button button-primary" ng-click="moodboardsShow.delete({id: moodboards.id})">Delete
  </button>

  <div>
    <form class="new_moodboard" ng-submit="moodboardsShow.addAsset()">
      <div class="form-group">
        <input class="form-control" type="url" name="url" value="{{ MoodboardsShowCtrl.image_url }}" ng-model="moodboardsShow.asset.url" placeholder="Image url">
      </div>
      <img src="{{ moodboardsShow.image }}" alt="" ng-model="moodboardsShow.asset.url" ng-click="moodboardsShow.addToUrl()">
      <button class="button button-primary" ng-click="moodboardsShow.unSplash()">Inspire Me</button>
      <label for="singleSelect"> Size: </label><br>
      <select name="singleSelect" ng-model="moodboardsShow.asset.width">
        <option value="200">Small</option>
        <option value="250">Medium</option>
        <option value="300">Large</option>
      </select><br>
      <input class="button button-primary" type="submit" value="Submit"/>
    </form>
  </div>
  <div class="board row">
    <div class="board twelve columns resize-container" id="grid-snap">
        <ul class="border">
          <li
            ng-repeat="assets in moodboardsShow.moodboard.assets"
            class="assets draggable resizable"
            data-x="{{ assets.x_position }}"
            data-y="{{ assets.y_position }}"
            style="transform: translate({{ assets.x_position }}px, {{ assets.y_position }}px); width: {{ assets.width }}px; height: {{ assests.height }}px;" ng-mouseup="moodboardsShow.updateAsset(assets)"
          >
            <a ng-click="moodboardsShow.deleteAsset(assets)">X</a>
            <img class="assets" src="{{ assets.url }}" alt="please check image url">
          </li>
        </ul>
    </div>
  </div>
</div>
