h1.index_title {
  text-align: center;
  margin-top: 60px;
}

div.each-moodboard {
  margin: 20px;
}

a.moodboard-index {
  margin-bottom: 0;
  border: 2px solid $finesilk;

}

a.moodboard-index:hover {
  border: 2px solid $finesilk;
  border-radius: 5px 5px 0px 0px;
  color: $charcoal;
}

.brief {
  background-color: $finesilk;
  border-radius: 0px 0px 5px 5px;
}

p {
  padding: 20px 30px;
}

button.moodboard-delete {
  float: right;
  border: none;
}

button.moodboard-delete:hover {
  border: none;
}
