h1.add-picture-title{
  text-align: center;
  margin: 60px 0px;
}

form.new_asset {
  text-align: center;

}

// input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
//   width: 50%
// }
