h1.home-title {
  font-size: 80px;
  width: 325px;
  position: fixed;
  top: 45%;
  left: 50%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.one {
  width: 325px;
  position: fixed;
  top: 40%;
  left: 63%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.two {
  width: 260px;
  position: fixed;
  top: 30%;
  left: 78%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.three {
  width: 300px;
  position: fixed;
  top: 40%;
  left: 20%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.five {
  width:200px;
  position: fixed;
  top: 50%;
  left: 25%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.six {
  width:250px;
  position: fixed;
  top: 66%;
  left: 46%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.seven {
  width:220px;
  position: fixed;
  top: 80%;
  left: 90%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.eight {
  width:220px;
  position: fixed;
  top: 80%;
  left: 21%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.nine {
  width:320px;
  position: fixed;
  top: 13%;
  left: 28%;
/* bring your own prefixes */
  transform: translate(-50%, -50%);
}
