
<div class="container">
  <h1>New Moodboard</h1>
  <form class="new_moodboard" ng-submit="moodboardsNew.moodboardCreate()">
    <div class="form-group">
      <input class="form-control" type="project_name" name="project_name" ng-model="moodboardsNew.moodboard.project_name" placeholder="Project Name">
    </div>
    <div class="form-group">
      <input class="form-control" type="brief" name="brief" ng-model="moodboardsNew.moodboard.brief" placeholder="Brief">
    </div>
    <input class="btn btn-primary" type="submit" value="Submit"/>
  </form>
</div>
