// Import all of your scss files here
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900');
@import"variables";
@import"typography";
@import"buttons";
@import"nav";
@import"form";


@import"pages/moodboardsIndex";
@import"pages/moodboardShow";
@import"pages/home";


body{
  background-color: $white;
  h1: 0rem;
}

.preview {
  text-align: center;
}

.preview-asset {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: #ccc;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
