<h1 class="home-title animated FadeIn" >Concept</h1>

<div class="home one">
  <img class="one animated slideInUp" src="https://images.unsplash.com/photo-1445247484843-b57c04d06d2a?dpr=1&auto=compress,format&fit=max&w=376&q=80&cs=tinysrgb&crop=" alt="">
</div>

<div class="home two">
  <img class="two animated FadeIn" src="https://images.unsplash.com/photo-1446660262078-bb365cb9fb18?dpr=1&auto=compress,format&fit=max&w=450&q=80&cs=tinysrgb&crop=" alt="">
</div>

<div class="home three">
  <img class="three animated fadeIn" src="https://s-media-cache-ak0.pinimg.com/736x/b3/f0/b2/b3f0b27cd73cf1fb662122501b594127.jpg" alt="">
</div>

<div class="home five">
  <img class="five animated slideInLeft" src="https://images.unsplash.com/photo-1470967211682-cd868c24ed52?dpr=1&auto=compress,format&fit=crop&w=568&h=379&q=80&cs=tinysrgb&crop=" alt="">
</div>

<div class="home 6">
  <img class="six animated slideInDown" src="https://s-media-cache-ak0.pinimg.com/736x/4d/b2/16/4db2163f7e098da368d5e774a7241c70.jpg" alt="">
</div>

<div class="home 7">
  <img class="seven animated fadeIn" src="https://processandskillsdotcom.files.wordpress.com/2013/05/horizon.jpg" alt="">
</div>

<div class="home 7">
  <img class="eight animated fadeIn" src="http://cdn.ilovetypography.com/img/2015/09/fe2o3-glyph.jpg" alt="">
</div>

<div class="home 7">
  <img class="nine animated slideInUp" src="https://s-media-cache-ak0.pinimg.com/600x315/59/5e/0e/595e0ef2ad7fb40ee1e6725e15ffc4a0.jpg" alt="">
</div>
